<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Photosec</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
  <!-- fonts awesome style -->
  <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <div class="custom_menu-btn">
          <button onclick="openNav()">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>
        </div>
        <div id="myNav" class="overlay">
          <div class="menu_btn-style ">
            <button onclick="closeNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
          </div>
          <div class="overlay-content">
            <a class="" href="{% url 'view' %}">
                Home
              </a>
              <a class="" href="{% url 'add' %}">
                Add File
              </a>
              <a class="" href="{% url 'my_pics' %}">
                  My Files
              </a>
              <a class="" href="{% url 'pics' %}">
                Other Uploads
              </a>
              <a class="" href="{% url 'logout' %}">
                Logout
              </a>
          </div>
        </div>
        <a class="navbar-brand" href="{% url 'index' %}">
          <span>
            Photosec
          </span>
        </a>
        
      </nav>
    </header>
    <!-- end header section -->
  </div>
 


  <!-- portfolio section -->
  <div class="container">
    <h1 class="text-center my-4">My Files</h1>

    <div>
        <h2>All Your Paid Pictures</h2>
        <ul>
            {% for payment in paid_pictures %}
                
                    <img src="{{ payment.pic.file.url }}" alt="{{ payment.pic.discription }}" style="max-width: 200px; height: auto;">
                    <p><strong>Description:</strong> {{ payment.pic.discription }}</p>
                    <p><strong>Paid On:</strong> {{ payment.payment_date }}</p>
                    <a href="{{ payment.pic.file.url }}" download="{{ payment.pic.file.name }}">
                        <button>Download Image</button>
                    </a>
                    <br></br>
            {% endfor %}
        </ul>
    </div>
  </div>

  

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6">
          <p>
            &copy; <span id="displayYear"></span> All Rights Reserved.  
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <script src="/static/js/jquery-3.4.1.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="/static/js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>